<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>server4</name>
  <description></description>
  <remoteFS>/home/jenkins/jenkins_slave</remoteFS>
  <numExecutors>5</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.31.5">
    <host>172.31.37.160</host>
    <port>22</port>
    <credentialsId>60ed11ba-72bf-495f-af65-33c47046d778</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>linux</label>
  <nodeProperties/>
</slave>